.inputFeed {
  grid-area: inputFeed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.input {
  width: 80%;
  height: 50%;
  border-radius: 1em;
  border: none;
  outline: none;
  padding: 15px;
  font: 600 1em "Lora", serif;
}

input:focus {
  box-shadow: -1px 0px 10px 2px #2bf590;
}

.button {
  width: 15%;
  height: 50%;
  border-radius: 1em;
  outline: none;
  font-size: 100%;
}

.input_invalid {
  border: none;
  box-shadow: -1px 0px 10px 2px #fd4f4f;
}

@media (max-width: 769px) {
  .input {
    border-radius: 2em;
    padding: 10px;
    font: 600 0.8em "Lora", serif;
  }
}

@media (max-width: 481px) {
  .input {
    border-radius: 2em;
    padding: 8px;
    font: 600 0.6em "Lora", serif;
  }
  .button {
    font-size: 80%;
  }
}

@media (max-width: 320px) {
  .input {
    border-radius: 2em;
    padding: 6px;
    font: 600 0.5em "Lora", serif;
  }
  .button {
    font-size: 60%;
  }
}
