.logout {
  grid-area: logout;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 60%;
  height: 40%;
  box-shadow: 0px 0px 10px 3px #d6d6d67a;
  border-radius: 20px;
}

.logoutButton {
  width: 50%;
  height: 100%;
  color: #ff0000;
  border: none;
  background-color: transparent;
}

.logoutButton:hover {
  background-color: #fafafa42;
  border-radius: 15px;
  height: 90%;
}

.fa-power-off {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}

/* @media (max-width: 769px) {
  .fa-power-off {
    font-size: 100%;
  }
}

@media (max-width: 481px) {
  .fa-power-off {
    font-size: 100%;
  }
}

@media (max-width: 320px) {
  .fa-power-off {
    font-size: 100%;
  }
} */
