.App {
  width: 100vw;
  height: 100vh;
  background-color: #444444d8;
}

.app_welcome {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app_chat {
  width: 50vw;
  height: 80vh;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "header header"
    "mainFeed mainFeed"
    "logout inputFeed";
  box-shadow: 0px 0px 15px 2px #d6d6d67a;
  border-radius: 20px;
}
